In [21]:
import csv
import pandas as pd
import numpy as np
import torch
import torch.nn as nn

In [22]:



def calc_average_price(row):
    if pd.isna(row["Average price"]):
        return float((row["Max price"] + row["Min price"])/2)
    else:
        return row["Average price"]

dataFrame = pd.read_csv('train.csv')

dataFrame["Average price"] = dataFrame.apply(calc_average_price, axis=1)

categories = pd.DataFrame(dataFrame['Category'].str.split('/', expand=True).values.tolist(), index=dataFrame.index)

dataFrame[['category','sub_category','sub_sub_category', 'sub_sub_sub_category']] = categories[[1, 2, 3, 4]]

category = dataFrame["category"].unique()
sub_category = dataFrame["sub_category"].unique()
sub_sub_category = dataFrame["sub_sub_category"].unique()
sub_sub_sub_category = dataFrame["sub_sub_sub_category"].unique()
brands = dataFrame["Brand"].unique()
sellers = dataFrame["Seller"].unique()


def change_brand_name_to_ordinal(row):
    return next(iter(np.where(brands == row["Brand"])[0].tolist()), 0)

def change_seller_name_to_ordinal(row):
    return next(iter(np.where(sellers == row["Seller"])[0].tolist()), 0)

def change_category_name_to_ordinal(row):
    return next(iter(np.where(category == row["category"])[0].tolist()), 0)

def change_sub_category_name_to_ordinal(row):
    return next(iter(np.where(sub_category == row["sub_category"])[0].tolist()), 0)

def change_sub_sub_category_name_to_ordinal(row):
    return next(iter(np.where(sub_sub_category == row["sub_sub_category"])[0].tolist()), 0)

def change_sub_sub_sub_category_name_to_ordinal(row):
    return next(iter(np.where(sub_sub_sub_category == row["sub_sub_sub_category"])[0].tolist()), 0)

def replace_rating_comma_to_dot(row):
    return row["Rating"].replace(',','.')


dataFrame["Brand"] = dataFrame.apply(change_brand_name_to_ordinal, axis=1)
dataFrame["Seller"] = dataFrame.apply(change_seller_name_to_ordinal, axis=1)
dataFrame["Rating"] = dataFrame.apply(replace_rating_comma_to_dot, axis=1)

dataFrame["category"] = dataFrame.apply(change_category_name_to_ordinal, axis=1)
dataFrame["sub_category"] = dataFrame.apply(change_sub_category_name_to_ordinal, axis=1)
dataFrame["sub_sub_category"] = dataFrame.apply(change_sub_sub_category_name_to_ordinal, axis=1)
dataFrame["sub_sub_sub_category"] = dataFrame.apply(change_sub_sub_sub_category_name_to_ordinal, axis=1)


dataFrame = dataFrame.drop(['Color', 'full_category', 'Name', 'Category'], axis=1)

# dataFrame["Brand"][0].type

# categories
dataFrame

,Brand,Seller,Comments,Final price,Max price,Min price,Average price,Sales,Days in stock,Days with sales,Rating,Basic Sale,Basic Sale Price,Base price,category,sub_category,sub_sub_category,sub_sub_sub_category
0,0,0,0.0,44990.0,44990.0,38120.0,41555.000000,2.0,23.0,2,0.0000,0.0,44990.0,44990.0,0,0,0,0
1,1,1,5.0,799.0,799.0,799.0,799.000000,4.0,4.0,3,5.0000,50.0,975.0,1950.0,1,1,1,0
2,2,2,0.0,550.0,550.0,550.0,550.000000,2.0,5.0,2,0.0000,0.0,579.0,579.0,1,2,2,0
3,3,3,1.0,127.0,259.0,127.0,127.000000,1.0,27.0,1,2.0000,70.0,159.0,532.0,2,0,0,0
4,4,4,4.0,4651.0,4651.0,4217.0,4595.595745,47.0,20.0,18,5.0000,25.0,4651.0,6202.0,3,3,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25057,150,127,11.0,1985.0,2089.0,1985.0,2089.000000,1.0,31.0,1,4.0000,24.0,2647.0,3483.0,3,12,31,0
25058,47,0,5.0,1226.0,2190.0,1226.0,1467.000000,4.0,6.0,2,5.0000,44.0,1226.0,2190.0,3,12,31,0
25059,316,263,2.0,15894.0,18032.0,15894.0,17319.333333,3.0,31.0,3,3.0000,5.0,17660.0,18590.0,3,3,89,0
25060,345,289,0.0,907.0,907.0,907.0,907.000000,5.0,28.0,5,0.0000,40.0,1068.0,1780.0,1,14,0,0
25061,93,77,34.0,2251.0,2251.0,2251.0,2251.000000,80.0,27.0,26,4.0000,35.0,3753.0,5774.0,5,24,93,0

In [30]:
import array

n_input, n1_hidden, n2_hidden, n_out, batch_size, learning_rate = 17, 34, 51, 1, 100, 0.0000001


model = nn.Sequential(
    nn.Linear(n_input, n1_hidden),
    nn.ReLU(),
    nn.Linear(n1_hidden, n2_hidden),
    nn.ReLU(),
    nn.Linear(n2_hidden, n1_hidden),
    nn.ReLU(),
    nn.Linear(n1_hidden, n_out)
)

model.double()

loss_function = nn.MSELoss()
optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

dataFrame = dataFrame.astype(np.float32)

x = dataFrame.drop(["Sales"], axis = 1).to_numpy()[1:]
y = dataFrame["Sales"].to_numpy()[1:]

In [ ]:
losses = []
for epoch in range(1000):
    print(epoch)
    for i in range(1, dataFrame.shape[0]):
        data_x = torch.tensor(np.array(x[i-1].tolist()))
        data_y = torch.tensor(np.array(y[i-1].tolist()))
        pred_y = model(data_x)
        loss = loss_function(pred_y, data_y)
        losses.append(loss.item())

        model.zero_grad()
        loss.backward()

        optimizer.step()

0

/Users/vizir-vadim/opt/anaconda3/lib/python3.9/site-packages/torch/nn/modules/loss.py:530: UserWarning: Using a target size (torch.Size([])) that is different to the input size (torch.Size([1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

In [32]:
import csv
import pandas as pd
import numpy as np


def calc_average_price(row):
    if pd.isna(row["Average price"]):
        return float((row["Max price"] + row["Min price"])/2)
    else:
        return row["Average price"]

testDataFrame = pd.read_csv('test.csv')

categories = pd.DataFrame(testDataFrame['Category'].str.split('/', expand=True).values.tolist(), index=testDataFrame.index)

testDataFrame[['category','sub_category','sub_sub_category', 'sub_sub_sub_category']] = categories[[1, 2, 3, 4]]

def change_brand_name_to_ordinal(row):
    return next(iter(np.where(brands == row["Brand"])[0].tolist()), 0)

def change_seller_name_to_ordinal(row):
    return next(iter(np.where(sellers == row["Seller"])[0].tolist()), 0)

def change_category_name_to_ordinal(row):
    return next(iter(np.where(category == row["category"])[0].tolist()), 0)

def change_sub_category_name_to_ordinal(row):
    return next(iter(np.where(sub_category == row["sub_category"])[0].tolist()), 0)

def change_sub_sub_category_name_to_ordinal(row):
    return next(iter(np.where(sub_sub_category == row["sub_sub_category"])[0].tolist()), 0)

def change_sub_sub_sub_category_name_to_ordinal(row):
    return next(iter(np.where(sub_sub_sub_category == row["sub_sub_sub_category"])[0].tolist()), 0)

def replace_rating_comma_to_dot(row):
    return row["Rating"].replace(',','.')


testDataFrame["Brand"] = testDataFrame.apply(change_brand_name_to_ordinal, axis=1)
testDataFrame["Seller"] = testDataFrame.apply(change_seller_name_to_ordinal, axis=1)
testDataFrame["Rating"] = testDataFrame.apply(replace_rating_comma_to_dot, axis=1)
testDataFrame["Average price"] = testDataFrame.apply(calc_average_price, axis=1)

testDataFrame["category"] = testDataFrame.apply(change_category_name_to_ordinal, axis=1)
testDataFrame["sub_category"] = testDataFrame.apply(change_sub_category_name_to_ordinal, axis=1)
testDataFrame["sub_sub_category"] = testDataFrame.apply(change_sub_sub_category_name_to_ordinal, axis=1)
testDataFrame["sub_sub_sub_category"] = testDataFrame.apply(change_sub_sub_sub_category_name_to_ordinal, axis=1)


testDataFrame = testDataFrame.drop(['Color', 'full_category', 'Name', 'Category'], axis=1)

testDataFrame

,Id,Brand,Seller,Comments,Final price,Max price,Min price,Average price,Days in stock,Days with sales,Rating,Basic Sale,Basic Sale Price,Base price,category,sub_category,sub_sub_category,sub_sub_sub_category
0,0,0,0,2.0,277.0,277.0,250.0,266.290323,16.0,14,0.0000,50.0,360.0,720.0,3,12,22,0
1,1,349,442,5.0,2211.0,2211.0,2211.0,2211.000000,7.0,8,3.0000,40.0,2664.0,4440.0,3,12,81,0
2,2,641,513,19.0,490.0,490.0,450.0,476.884615,31.0,22,5.0000,30.0,490.0,700.0,2,4,24,0
3,3,16,107,2.0,807.0,807.0,807.0,807.000000,31.0,0,4.0000,15.0,807.0,950.0,1,7,51,0
4,4,39,160,3.0,426.0,440.0,426.0,426.000000,31.0,5,5.0000,3.0,426.0,440.0,2,19,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10736,10736,456,0,0.0,17803.0,20808.0,17803.0,17803.000000,31.0,3,0.0000,23.0,19781.0,25690.0,0,0,0,0
10737,10737,20,16,8.0,897.0,897.0,834.0,897.000000,12.0,9,4.0000,54.0,1150.0,2500.0,3,12,31,0
10738,10738,447,0,15.0,1565.0,2899.0,1565.0,1732.981132,31.0,29,3.0000,46.0,1565.0,2899.0,1,6,6,0
10739,10739,1297,1041,0.0,2752.0,2752.0,2752.0,2752.000000,11.0,2,0.0000,20.0,3440.0,4300.0,3,56,0,0
10740,10740,240,0,0.0,16566.0,16566.0,16566.0,16566.000000,24.0,9,0.0000,0.0,19490.0,19490.0,3,29,71,0

In [33]:
# tx = testDataFrame.drop(["Sales"], axis = 1).to_numpy()[1:]
# ty = testDataFrame["Sales"].to_numpy()[1:]

testDataFrame = testDataFrame.astype(np.float32)

tx = testDataFrame.to_numpy()[1:]

In [38]:
from pandas import DataFrame

output = DataFrame()
ids_list = list()
outputs_list = list()

for i in range(0, testDataFrame.shape[0]-1):
    tx_id=tx[i][0]
    to_prdict = tx[i][1:]
    test_x = torch.tensor(np.array(to_prdict.tolist()))
    test_y = model(test_x)
    ids_list.append(tx_id)
    outputs_list.append(test_y.item())

    
output['Id'] = pd.DataFrame(ids_list)[[0]]
output['Expected'] = pd.DataFrame(outputs_list)[[0]]
output.to_csv("result.csv", index=None)